<%- include('../include/navigationbar.ejs') %>


<div>
<h1>!! Sorry For Error </h1>

<img style="border: 2px solid black;" src="/asstes/error/page-not-found-error-404-260nw-479042983.webp" width="600px" height="500px"  alt="404">
</div>

<%- include('../include/bottm.ejs') %>